Operators, Data types

In [1]:
2+3+5

10

In [2]:
(13+15)+(10*5)-(50/5)

68.0

In [3]:
5**2

25

In [31]:
list=[7,89,5,6,8,2]

print(list[0])
lenght=len(list)

i=0
while i <= lenght-1:
    print(list[i])
    i = i+1


# for(i=0,i<=length,i++):
#     print(i)
    
# for i in list:
#     print(i)
   
list.sort()
print(list)

7
7
89
5
6
8
2
[2, 5, 6, 7, 8, 89]

In [32]:
person = {
    "name" : "Maan Patel",
    "sex" : "male",
    "age": "23"
}
for i in person:
    print(i,person[i])

name Maan Patel
sex male
age 23